############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> MMU/ERCF MCUs are called "mmu" 

# ------------------------------------------------------------------------------------------


#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the following 3
## lines to define a new `variable_startprint_actions`. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "extruder_preheating", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# [gcode_macro _USER_VARIABLES]
# variable_startprint_actions: "action1", "action2", ...
# gcode: # do not remove this line


#-------------------------#
#   EXTRUDER
#-------------------------#

[extruder]
control: pid
pid_kp: 26.747
pid_ki: 2.622
pid_kd: 68.204
rotation_distance: 22.609288


#-------------------------#
#   Y MOTOR
#-------------------------#

[stepper_x]
endstop_pin: ^toolhead:X_STOP

#-------------------------#
#   Y MOTOR
#-------------------------#

[stepper_y]
endstop_pin: ^Y_STOP

#-------------------------#
#   Z1 MOTOR
#-------------------------#

[stepper_z1]
dir_pin: !Z1_DIR


#-------------------------#
#   Z3 MOTOR
#-------------------------#

[stepper_z3]
dir_pin: !Z3_DIR


#-------------------------#
#   HEATER BED
#-------------------------#

[heater_bed]
heater_pin: MCU_HE1
control: pid
pid_kp: 46.971
pid_ki: 1.864
pid_kd: 295.919


#-------------------------#
#   INPUT SHAPER
#-------------------------#

[input_shaper]
shaper_type_y: mzv
shaper_freq_y: 47.8
shaper_type_x: mzv
shaper_freq_x: 51.4


#-------------------------#
#   NEVERMORE
#-------------------------#

[fan_generic filter]
pin: MCU_FAN3


#-------------------------#
#   CONTROLLER FAN = FAN2
#-------------------------#

[controller_fan controller_fan_1]
pin: MCU_FAN1
max_power: 1.0
off_below: 0.30
kick_start_time: 0.5
idle_timeout: 60
fan_speed: 0.5
shutdown_speed: 0.0
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z


#-------------------------#
#   CONTROLLER FAN = FAN2
#-------------------------#

#
#
#


#-------------------------#
#   CASE LIGHT
#-------------------------#
[output_pin caselight]
pin: MCU_HE2


#-------------------------#
#	CHAMBER TEMPERATURE SENSOR
#-------------------------#

[temperature_sensor Chamber]
sensor_type: PT1000
sensor_pin: MCU_TH0
pullup_resistor: 2200


#-------------------------#
#	RESONANCE TESTER
#-------------------------#

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 3
keep_raw_csv: False
show_macros_in_webui: True
timeout: 300


#-------------------------#
#	PROBE
#-------------------------#
[probe]
z_offset: 0.805